@model Legend

@{
    ViewData["Title"] = Model is not null ? "Modify Legend" : "Create New Legend";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form class="card" asp-action="Create" asp-controller="Legends" method="post">
        <div class="form-group">
            @if (Model is not null)
            {
                <label for="body">Edit Legend</label><input asp-for="Name" type="text" class="form-control" value=@Model.Name>
                <input asp-for="Category" type="text" class="form-control" value=@Model.Category>
                <input asp-for="Bio" type="text" class="form-control" value=@Model.Bio>
                <input asp-for="Id" type="hidden" value=@Model.Id />
            }
            else
            {
                <label for="body">New Legend</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                <input asp-for="Category" type="text" class="form-control" placeholder="Category">
                <input asp-for="Bio" type="text" class="form-control" placeholder="Bio">
            }
        </div>
        <button type="submit" class="btn btn-sm btn-outline-primary">Create</button>
    </form>
</div>